\documentclass[journal]{IEEEtran}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{booktabs}

\title{ {{ title }} }
\author{Anonymous Authors}

\begin{document}
\maketitle

\begin{abstract}
{{ abstract }}
\end{abstract}

\begin{IEEEkeywords}
Pattern analysis, machine intelligence, medical image analysis, survival prediction.
\end{IEEEkeywords}

\section{Introduction}
{{ introduction }}

\section{Related Work}
{{ related_work }}

\section{Method}
{{ method }}

\section{Experiments}
{{ experiments }}

\section{Conclusion}
{{ conclusion }}

\bibliographystyle{IEEEtran}
\bibliography{references}

\end{document}
