\documentclass[conference]{IEEEtran}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{booktabs}

\title{ {{ title }} }
\author{\IEEEauthorblockN{Anonymous Authors}}

\begin{document}
\maketitle

\begin{abstract}
{{ abstract }}
\end{abstract}

\section{Introduction}
{{ introduction }}

\section{Related Work}
{{ related_work }}

\section{Method}
{{ method }}

\section{Experiments}
{{ experiments }}

\section{Conclusion}
{{ conclusion }}

\bibliographystyle{IEEEtran}
\bibliography{references}

\end{document}

