\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{booktabs}

\title{ {{ title }} }
\author{Anonymous Authors}
\date{}

\begin{document}
\maketitle

\begin{abstract}
{{ abstract }}
\end{abstract}

\section{Introduction}
{{ introduction }}

\section{Related Work}
{{ related_work }}

\section{Method}
{{ method }}

\section{Experiments}
{{ experiments }}

\section{Conclusion}
{{ conclusion }}

\bibliographystyle{plain}
\bibliography{references}

\end{document}

